@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,800;1,400;1,500&display=swap');
$main-color:#bc0c0c;
body{
    background-color: #2A2F34;
}
main{

    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}
.main-container{
    width:80%;
    min-height: 70vh;
    height: auto;
    position: absolute;
    top:25%;
}
.background{
    width:110%;
    height: 70vh;
    position: absolute;
    top:0;
    left:-5%;
    background: rgba(64, 65, 68, 0.05);
    box-shadow: 0 8px 12px 10px rgba(89, 89, 95, 0.37);
    backdrop-filter: blur( 3px );
    border-radius: 10px;
}
.card{
    z-index: 1;
    position:absolute;
    width:25%;
    left:0;
    top:6.5%;
    height: 80%;
    display: flex;
    justify-content: center;
    & img{
        position: relative;
        width:95%;
        height:95%;
        top:0%;
        border-radius: 15px;
    }  
}
.trailer{
    position: absolute;
    top:98%;
    width:95%;
    height: 3em;
    border-radius: 20px;
    background-color: #ffffff1a;
    & a{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-decoration: none;
        & h2{
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size:20px;
            letter-spacing: .07em;
            line-height: 37.05px;
            position: relative;
            top:.2em;
        }
        & i{
            width:.3em;
            position: relative;
            top:.28em;
            right:2em;
        }
    }
}
.info{
    position: absolute;
    top:8%;
    left:27%;
    color: #fff;
    & h1{
        font-family: 'Mont','Montserrat',sans-serif;
        font-weight: 600;
        font-size:28px;
        line-height: 37.05px;
    }
}
.info_boxs{
    position: relative;
    top:2em;
    left:-1em;
    line-height: 1.42857143;
    font-family: 'Mont','Montserrat',sans-serif;
    color: #fff;
    direction: ltr;
    font-size: .9em;
    box-sizing: inherit;
    margin: 0;
    margin-bottom: 10px;
    &>span{
        margin-left: 10px;
    }
    & i{
        margin-right: 5px;
    }
}
.genra{
    position: relative;
    top:4em;
    left:-1em;
    line-height: 1.42857143;
    font-family: 'Mont','Montserrat',sans-serif;
    color: #fff;
    cursor: default;
    font-size: .8em;
    box-sizing: inherit;
    margin: 0;
    outline: none;
    margin-bottom: 10px;
    & a{
        font-family: 'Mont','Montserrat',sans-serif;
        box-sizing: inherit;
        height: 2.5em;
        width: auto;
        text-align: center;
        text-decoration: none;
        padding: 10px 15px 8px;
        line-height: 1;
        background-color: #ffffff1a;
        color: #fff;
        display: inline-block;
        font-size: 1em;
        border-radius: 20px;
        margin-left: 5px;
    }
}
.chapters{
    position: absolute;
    top:80vh;
    left:-5%;
    width:50em;
    height: auto;
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:.7em;
    background: rgba(64, 65, 68, 0.05);
    box-shadow: 0 8px 12px 10px rgba(89, 89, 95, 0.37);
    backdrop-filter: blur( 3px );
    border-radius: 10px;
    
}
.chapter{
  cursor:pointer;
  position: relative;
  margin-top: 15px;
  box-shadow: 0 .375rem .875rem 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff1a;
  width:15em;
  height: 4em;
  display: flex;
  align-items: center;
  
  color: #fff;
  border: white solid 1px;
  & img{
      position: absolute;
      width:2em;
      left:12em;
  }
  & h3,h2{
    font-family: 'Mont','Montserrat',sans-serif;
    font-weight: 400;
    font-size:15px;
    text-overflow: hidden;
    line-height: 37.05px;
    position: relative;
    }
    & h2{
        position: absolute;
        top:.8em;
        left:8.5em;
    }
    & h3{
        position: absolute;
        top:.8em;
        left:.4em;
        width:9em;
        height: 3em;
        overflow: hidden;
    }
    &>.line{
        position: absolute;
        width:2px;
        height: 80%;
        background: #fff;
        left:11em;
    }
}
a{
    text-decoration: none;
}
.disc{
    width:50em;
    height:12em;
    position: absolute;
    top:11em;
    overflow: hidden;

    & h3{
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size:20px;
        letter-spacing: .07em;
        line-height: 37.05px;
        position: relative;
        top:.2em;
        margin-bottom: 1em;
    }
    & p{
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size:14px;
        letter-spacing: .01em;
        line-height: 37.05px;
        position: relative;
        top:.2em;
    }
}