@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500;600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
$main-color:#bc0c0c;
$secend-color:#B77968;
$background-first-color:#141B22;
$background-second-color:#fff;
$text-color:#fff;
$main-font:'Poppins', sans-serif;
$icon: 400 1em/50px 'FontAwesome';