header{
    width:100%;
    height:9%;
    background-color: $background-second-color;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    & .-logo{
        position: absolute;
        top:0;
        left:10%;
        letter-spacing:.1em;
        & h6{
            color: $main-color;
            position:absolute;
            top:2.5vh;
            left:5vh;
            font-weight: 700;
            text-decoration: none;
            font-size: 1.2em;
        }
        & img{
            position:absolute;
            top:2vh;
            width:30px;
            height:auto;
        }
    }
    & ul{
        display: flex;
        justify-content:center;
        align-items: center;
        position: absolute;
        &.header-nav{
            left:20%;
        }
        &.form{
            left: 65%;
            top:12px;
            & li{
              left:5px;
                & a{
                    font-size: 12px;
                    & img{
                        position: relative;
                        right:0px;
                        &#trending_button{
                            left:4px;
                        }
                        &#profile_button{
                            left:-5px;
                        }
                    }
                    & p{
                        top:2px;
                        color: #B8B2B0;
                    }
                    &:hover{
                        p{
                            color: $main-color;
                        }
                    }
                }
            }
        }
        top:30%;
        & li{
            list-style: none;
            margin-left: 20px;
            & a{
                text-decoration: none;
                padding: 6px 15px;
                color: #000;
                border-radius: 20px;
                font-weight:500;
                &:hover,&.active_top{
                    color: $main-color;
                    transition: .3s;
                }
                & sup{
                    color:$main-color;
                    font-size: 12px;
                    position: relative;
                    font-weight: 300;
                    bottom:7px;
                    right:20px;
                }
            }
        }
    }
    & .-ads_box{
        position: absolute;
        top:100%;
        background: linear-gradient(rgb(187, 37, 82),#260481);
        width:100%;
        height:110%;
        overflow: hidden;
        & ul{
            display: flex;
            justify-content:center;
            align-items: center;
            position: absolute;
            top:5%;
            left:-7%;
            & li{
                list-style: none;
                margin-left: 100px;
                & img{
                    width:75px;
                    &.left{
                        transform: scaleX(-1);
                    }
                    &.mid{
                        margin-right: 300px;
                    }
                    &.gif{
                        position: absolute;
                        top:-10px;
                        right:500px;
                        margin-left: 0;
                        width:350px;
                    }
                }
        }
      }
    }
    & .wrapper {
        position: absolute;
        display: flex;
        min-width: 100px;
        width:20%;
        left:80%;
        top:0px;
        & .search-box {
            color: rgb(0, 0, 0);
            position: relative;
            border: 1px solid $main-color;
            border-radius: 5px;
            font-size: 15px;
            height: 3em;
            width: 78%;
            padding: 2px 23px 2px 30px;
            outline: 0;
            top:10px;
            left:7%;
            background-color: white;
            &:hover ,&:focus{
              color:#000;
              border: 1px solid #757575;
            }
          }
          & .search-icon {
            position: absolute;
            top: 17px;
            left:calc(7% + 1px);
            width: 30px;
            z-index: 1;
          }
      }
    & .-social{
        margin: 0 auto;
        padding-top: 100px;
        height: 400px;
        width:40px;
        position: absolute;
        top:45vh;
        left:2vh;
        opacity: 0.5;

        &:hover{
          opacity: 1;
        }
        ul{
          &:hover{
            opacity: 1;
          }
          display: flex;
          flex-direction: column;
          background:  #06080a;
          height:250px;
          width:50px;
          border-radius: 50px;
          justify-content: center;
          gap:5px;
          li{
            background: #06080a;
            border-radius: 50%;
            float: left;
            height: 45px;
            list-style: none;
            margin: 0 10px;
            width: 45px;
            &:before{
              font: $icon;
            }
    
          }
          .facebook{
            &:hover{
              background: #3b5998;  
            }
            &:before{
              color: #fff;
              content:'\f09a';
              display: block;
              line-height: 50px;
              text-align: center;
            }
          }
          .twitter{
            &:hover{
              background: #00aced;  
            }
            &:before{
              color: #fff;
              content:'\f099';
              display: block;
              line-height: 50px;
              text-align: center;
            }
          }
          .google{
            &:hover{
              background: #dd4b39;  
            } 
            &:before{
              color: #fff;
              content:'\f0d5';
              display: block;
              line-height: 50px;
              text-align: center;
            }
          }
          .instagram{
            &:hover{
              background: #A332AD; 
            }
            &:before{
              color: #fff;
              content:'\f16d';
              display: block;
              line-height: 50px;
              text-align: center;
            }
          }
        }  
      }
      
}