main{
    width:100%;
    min-height:100vh;
    height: auto;
    margin-bottom: 10vh;    
}
.main_container{
    margin-bottom: 100px;
    position: relative;
    top:12vh;
    width:100%;
    height:auto;
    z-index: 8;
    background: #ffffff00;
    backdrop-filter: blur( 1.8px );
    -webkit-backdrop-filter: blur( 1.5px );
    & .-content{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 45px;
        width:60%;
        min-height: 100vh;
        height: auto;
        z-index: 100;
        justify-content: center;
        & .-header{
            position: relative;
            top: 0;
            right:15vh;
            font-family: $main-font;
            height:auto;
            min-height: unset;
            width:auto;
            color:$main-color;
            & hr{
                margin-top: .5em;
                border-radius: 25px;
                width:40%;
                height:4px;
                border: none;
                background: $text-color;
            }
        }
        & .-container{
            position: relative;
            min-height: unset;
            height:auto;
            width:90%;
            top:-5vh;
            left:-5vh;
            & .-img{
                cursor: pointer;
                width:15em;
                height:20em;
                margin-bottom: 0;
                border-radius: 20px;
                overflow: hidden;
                & img{
                    cursor: pointer;
                    width:15em;
                    height:100%;
                    border-radius: 20px;
                }
            }
            & .info_box{
                position: absolute;
                width:100%;
                height: 135%;
                opacity: 0;
                display: none;
                border-radius: 20px;
                background: black;
                display: flex;
                justify-content: center;
                &:hover{
                    animation: show-info .7s forwards ;
                }
                & h3{
                    position: absolute;
                    top:10%;
                    font-family: $main-font;
                    color:$main-color;
                    font-size: 18px;
                    height: 5em;
                    opacity: unset;
                    text-align: center;
                }
                & p{
                    position: absolute;
                    top:25%;
                    left:10%;
                    font-family: $main-font;
                    color:$text-color;
                    font-size: 12px;
                    overflow: hidden;
                    height: 5em;
                    width:90%;
                }
                & .more{
                    width:75%;
                    height:10vh;
                    position: absolute;
                    top:50%;
                    left:13vh;
                    display: flex;
                    align-items: center;
                    gap: 1em;
                    & span{
                        color: white;
                        font-family: $main-font;
                        font-weight: 300;
                        width:10em;
                        letter-spacing: 0em;
                    }
                }
                & .button-wrapper {
                    position: absolute;
                    top:-2.5vh;
                    left:-8vh;
                    z-index: 0;
                    cursor: pointer;
                    & span{
                        position: relative;
                        left:.7em;
                    }
                  }
                  
                & .button-emitter {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    margin: 32px auto;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: white solid 1px;
                }
                  
                & .sonar-wave {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border: white solid 1px;
                    opacity: 0;
                    z-index: -1;
                    pointer-events: none;
                }
                  
                & .sonar-wave1 {
                    animation: sonarWave 2s linear infinite;
                }
                  
                & .sonar-wave2 {
                    animation: sonarWave 2s 1s linear infinite;
                }
            }

        }
    }
}
.circle{
    position: fixed;
    border-radius: 50%;
    transform: translate(30%,-50%);
    transition: .5s;
    background: url("../img/logos/circle.png");
    box-shadow:
      0 0 200px 70px #6d3737,
}
#big-circle{
        top:50%;
        left:40%;
        width: 35em;
        height: 35em;
}
#small-circle{
        top:100%;
        left:30%;
        width: 10em;
        height: 10em;
        box-shadow:
        0 0 200px 10px #6d3737,
}
.character-pic{
    position: fixed;
    bottom: -1vh;
    width:45%;
    right:8%;
    z-index: 5;
}